@{ ViewData["Title"] = "Home Page"; }
<div class="jumbotron">
    <h1>BICT Study Planner</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the BICT Study Planner</h2>
        <p>
            Please make use of the Study Planner in order to help aid your study options and decision making.
        </p>
    </div>
    <div class="col-md-4">
      
    </div>
    <div class="col-md-4">
        <img src="~/images/Study.jpg" alt="Study" width="85%" height="85%" />
    </div>

   
</div>
