@{ ViewData["Title"] = "Home Page"; }
<div class="jumbotron">
    <h1>School Web Site Home Page</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to The School Staff Portal and Database</h2>
        <p>
            Uses Entity Framework Core in an ASP.NET Core MVC web application.
        </p>
    </div>
    </div>
    <div>
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
            <li><a asp-area="" asp-controller="Staffs" asp-action="Index">Staff</a></li>
            <li><a asp-area="" asp-controller="Subjects" asp-action="Index">Subject</a></li>
            <li><a asp-area="" asp-controller="StaffUnitTest" asp-action="Index">Staff Unit Test</a></li>
            <li><a asp-area="" asp-controller="SubjectUnitTest" asp-action="Index">Subject Unit Test</a></li>

        </ul>
    
    </div>
    
